<aside>
  <div>
    <h2>Categories</h2>
    <% @categories.each do |cat| %>
      <%= link_to by_category_path(slug:cat.slug), class:"categories" do %>
      <%= cat.name %>
      <span class="categoties-number">
          <%= cat.posts.count %>
      </span>
      <% end %>
    <% end %>
  </div>
<!-- ======================================================Dribble============================= -->
    <div class="dribble">
      <h2>Dribble</h2>
      <a href="https://dribbble.com"><%= image_tag("rocket.png", class:"middle-img") %></a>
    </div>
<!-- ======================================================Twitter============================= -->
      <h2>Twitter</h2>
      <% @tweets.each do |tweet| %>
        <div class="twit">
          <p class="gray">
            <%= tweet.text %> 
          </p>
          <%= link_to tweet.user.name, tweet.user.url.to_s %>
        </div>
      <% end %>
<!-- ======================================================Pop posts============================= -->
    <h2>Popular posts</h2>
      <% @pop.each do |pop| %>
        <div class="popular-posts">
          <%= link_to post_path(pop) do %>
          <div style="background-image: url(<%= pop.image.url(:thumb) %>)" class="small-image"></div>
          <% end %>
          <p class="green"><%= l pop.date, :format => :long %></p>
          <p class="gray"><%= pop.title %></p>
        </div>
      <% end %>
<!-- ======================================================Rec comments============================= -->
    <h2>Recent Comments</h2>
      <% @recent_comments.each do |rec| %>
        <div class="recent-comments">
          <%= link_to rec.post do %>
          <div style="background-image: url(<%= rec.post.image.url(:thumb) %>)" class="small-image"></div>
          <% end %>
          <p class="green"><%= rec.author %></p>
          <% 
            if rec.comment.length > 50
              comment = rec.comment[0..40] + rec.comment[41..60].split(' ')[0] + '...'
            else
              comment = rec.comment
            end
           %>
          <p class="gray"><%= comment %></p>
        </div>
      <% end %>
<!-- ====================================================== tags ============================= -->
    <div class="tags">
      <h2>TAGS </h2>
      <% @tags.each do |tag| %>
        <%= link_to tag.name, by_tag_path(slug:tag.slug), class:"tag" %>
      <% end %>
    </div>
<!-- ====================================================== about ============================= -->
    <div class="about">
      <h2>About blogıfy</h2>
      <p class="gray">Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque suspendisse in orci enim.</p>
    </div>
<!-- ====================================================== social ============================= -->
    <div class="social">
      <h2>keep social</h2>
      <a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a>
    </div>
    <div>
      <h2>search</h2>
      <%= form_tag("/search", method: "get") do %>
      <%= text_field_tag(:q, '',{ class:'aside-search', placeholder: 'Search...' }) %>
      <%= submit_tag("Search", class:'aside-submit') %>
      <% end %>
    </div>
    <div class="advertisement">
    </div>
</aside>