<div class="content">
  <% @posts.each do |post| %>
		<div class="post">
			<%= image_tag(post.image.url()) %>
			
      <%= link_to post, class:'title' do %>
        <h2><%= post.title %></h2>
      <% end %>
        <div class="data">
          <span class="post-meta-date">
            <%= image_tag("clock.png")%><%= l post.date, :format => :long %>
          </span>
          <span class="post-meta-comments">
            <%= image_tag("bubbles.png")%><%= pluralize(post.comments.count, "Comment") %>
          </span>
          <% if post.post_type %>
            <span class="post-meta-type">
              <%= image_tag(post.post_type.image.url()) %><%= post.post_type.name %>
            </span>
          <% end %>
        </div>
        <p class="gray"><%= post.preview %></p>
        <%= link_to 'Read more', post, class:'more'  %>
		</div>
  <% end %>
	<div class="quote-post"><p class="thin">Curabitur aliquam euismod purus, vela fermentum mattis. Nunc ac quam in est aliquet pretium. Integer semper, tortor ne mattis euismod, maecenas vitae lacus massa.</p><p>-- Salvador Dali</p>
	</div>

	<div class="link-post"><a href="#"><p class="gray">http://www.themeforest.net/user/SuitsTheme</p></a></div>

	<div class="pagination">
		<a href="#" class="page-active"><=</a><div class="numbers"><a href="#" class="page">1</a><a href="#" class="page-active">2</a><a href="#" class="page">3</a></div><a href="#" class="right">=></a>
	</div>
</div>
    