
<body>
<div class="wrapper">
	<div class="main">
		<nav>
			<%= link_to "", root_path, class:"logo" %>
			<div class="container">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ARCHIVE</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
            <form action="URL"><input class="search" placeholder="Search.." type="text"> <input class="submit" type="submit"></form>
            <div class="unnamed"></div>
            </div>
		</nav>

		<div class="content">
      <% @posts.each do |post| %>
  			<div class="post">
  				<%= image_tag(post.image.url()) %>
  				<a href="#" class="title">
            <h2><%= post.title %></h2>
          </a>
            <div class="data">
              <span class="post-meta-date">
                <%= image_tag("clock.png")%><%= l post.date, :format => :long %>
              </span>
              <span class="post-meta-comments">
                <%= image_tag("bubbles.png")%>12 Comments
              </span>
              <% if post.post_type %>
                <span class="post-meta-type">
                  <%= image_tag(post.post_type.image.url()) %><%= post.post_type.name %>
                </span>
              <% end %>
            </div>
            <p class="gray"><%= post.text %></p>
            <a href="#" class="more">Read more</a>
  			</div>
      <% end %>
			<div class="quote-post"><p class="thin">Curabitur aliquam euismod purus, vela fermentum mattis. Nunc ac quam in est aliquet pretium. Integer semper, tortor ne mattis euismod, maecenas vitae lacus massa.</p><p>-- Salvador Dali</p>
			</div>

			<div class="link-post"><a href="#"><p class="gray">http://www.themeforest.net/user/SuitsTheme</p></a></div>

			<div class="pagination">
				<a href="#" class="page-active"><=</a><div class="numbers"><a href="#" class="page">1</a><a href="#" class="page-active">2</a><a href="#" class="page">3</a></div><a href="#" class="right">=></a>
			</div>
		</div>
        <footer><p class="gray">Blogify is a personal blog theme with a clean & flat design.</p><br><p class="gray">Copyright © 2013 SuitsTheme</p><div class="line"></div></footer>
        <div class="meh">
        	<a href="#" class="icon"><%= image_tag("vimeo.png")%></a><a href="#" class="icon"><img src="images/vimeo.png"></a><a href="#" class="icon"><%= image_tag("vimeo.png")%></a><a href="#" class="icon"><img src="images/vimeo.png"></a><a href="#" class="icon"><%= image_tag("vimeo.png")%></a><a href="#" class="icon"><img src="images/vimeo.png"></a><a href="#" class="icon"><%= image_tag("vimeo.png")%></a><a href="#" class="icon"><img src="images/vimeo.png"></a><a href="#" class="icon"><img src="images/vimeo.png"></a><a href="#" class="icon"><img src="images/vimeo.png"></a>
        </div>
	</div>
	<aside>
		<div>
        <h2>Categories</h2>
<% @categories.each do |cat| %>
  <%= link_to by_category_path(slug:cat.slug), class:"categories" do %>
    <%= cat.name %>
    <span class="categoties-number">
        <%= cat.posts.count %>
    </span>
  <% end %>
<% end %>
		<div class="dribble">
        </div>
			<h2>Dribble</h2>
			<a href="#"><%= image_tag("rocket.png", class:"middle-img") %></a>
		</div>
		<div class="twitter">
			<h2>Twitter</h2>
			<p class="gray">The State of #WordPress Themes: 87% of all WordPress theme shops sell themes on Themeforest <a href="#">http://supportdash.com/wordpress</a></p></br>
			<p class="gray">What Are the Most Inspiring Envato Marketplace Moments of All Time? <a href="#">http://enva.to/15c3faP</a></p></br>
			<p class="gray">Our server maintenance is now done, so Envato Support should be working as normal now. If you see any problems please tweet <a href="#">@envato_support</a></p>
		</div>
        <h2>Popular posts</h2>
		<div class="popular-posts">
			<p class="green">22 August, 2013</p><p class="gray">Post with a Featured Image</p>
        </div>
        <div class="popular-posts">
      <a href="#"><%= image_tag("p.png", class:"small-image")%></a>
			<p class="green">22 August, 2013</p><p class="gray">Post with a Featured Image</p>
        </div>
        <div class="popular-posts">
			<a href="#"><%= image_tag("p.png", class:"small-image")%></a>
			<p class="green">22 August, 2013</p><p class="gray">Post with a Featured Image</p>
        </div>
        <div class="popular-posts">
			<a href="#"><%= image_tag("p.png", class:"small-image")%></a>
			<p class="green">22 August, 2013</p><p class="gray">Post with a Featured Image</p>
        </div>
        <div class="popular-posts">
			<a href="#"><%= image_tag("p.png", class:"small-image")%></a>
			<p class="green">22 August, 2013</p><p class="gray">Post with a Featured Image</p>
        </div>

	        <h2>Recent Comments</h2>
	        <div class="recent-comments">
            	<a href="#"><%= image_tag("dude.jpg", class:"small-image")%></a>
				<a href="#"><p class="green">Harry Kewell</p></a><p class="gray">Pellentesque eget venenatis ipsum. In quis turpis in turpis faucibus...</p>
            </div>
			<div class="recent-comments">
            	<a href="#"><%= image_tag("dude.jpg", class:"small-image")%></a>
				<a href="#"><p class="green">Harry Kewell</p></a><p class="gray">Pellentesque eget venenatis ipsum. In quis turpis in turpis faucibus...</p>
            </div>
            <div class="recent-comments">
            	<a href="#"><%= image_tag("dude.jpg", class:"small-image")%></a>
				<a href="#"><p class="green">Harry Kewell</p></a><p class="gray">Pellentesque eget venenatis ipsum. In quis turpis in turpis faucibus...</p>
            </div>
        <div class="widget">
	        <h2>FLICKR WIDGET</h2>
			<a href="#"><img src="images/flkr.jpg" class="middle-img"></a>
		</div>
        <div class="tags">
        	<h2>TAGS </h2>
          <% @tags.each do |tag| %>
            <%= link_to tag.name, by_tag_path(slug:tag.slug), class:"tag" %>
          <% end %>
	    </div>
	    <div class="about">
	        <h2>About blogıfy</h2>
	        <p class="gray">Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque suspendisse in orci enim.</p>
	    </div>
	    <div class="social">
        	<h2>keep social</h2>
	    	<a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a><a href="#" class="aside-icons"><%= image_tag("f.png")%></a>
	    </div>
	    <div>
        	<h2>search</h2>
	    	<form action="URL"><input class="aside-search" placeholder="Search.." type="text"> <input class="aside-submit" type="submit"></form>
	    </div>
	    <div class="advertisement">
	    </div>	
     </aside>
</div>


</body>