<p id="notice"><%= notice %></p>
<div class="content">
  <div class="post">
    <%= image_tag(@post.image.url()) %>
    <a href="#" class="title">
      <h2><%= @post.title %></h2>
    </a>
    <div class="data">
      <span class="post-meta-date">
        <%= image_tag("clock.png")%><%= l @post.date, :format => :long %>
      </span>
      <span class="post-meta-comments">
        <%= image_tag("bubbles.png")%><%= pluralize(@post.comments.count, "Comment") %>
      </span>
      <% if @post.post_type %>
        <span class="post-meta-type">
          <%= image_tag(@post.post_type.image.url()) %><%= @post.post_type.name %>
        </span>
      <% end %>
    </div>
    <p class="gray"><%= raw @post.text %></p>
  </div>
    <%= render 'comments/index' %>
    <%= render 'comments/comment_form' %>
</div>