<!DOCTYPE html>
<html>
<head>
  <title>Страница кароч</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  Вы вошли как <%= current_user.email %>
  <%= link_to 'Exit', destroy_user_session_path, method: :delete %>
</div>

<%= yield %>

</body>
</html>
