<!DOCTYPE html>
<html>
<head>
  <title>Страница кароч</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div></div>
<div class="wrapper">
  <div class="main">
    <%= render 'home/nav' %>
    <%= yield %>
    <footer><p class="gray">Blogify is a personal blog theme with a clean & flat design.</p><br><p class="gray">Copyright © 2013 SuitsTheme</p><div class="line"></div></footer>
        <div class="meh">
          <a href="#" class="icon"><%= image_tag("vimeo.png")%></a>
          <a href="#" class="icon"><%= image_tag("vimeo.png")%></a>
          <a href="#" class="icon"><%= image_tag("vimeo.png")%></a>
          <a href="#" class="icon"><%= image_tag("vimeo.png")%></a>
          <a href="#" class="icon"><%= image_tag("vimeo.png")%></a>
          <a href="#" class="icon"><%= image_tag("vimeo.png")%></a>
          <a href="#" class="icon"><%= image_tag("vimeo.png")%></a>
          <a href="#" class="icon"><%= image_tag("vimeo.png")%></a>
          <a href="#" class="icon"><%= image_tag("vimeo.png")%></a>
          <a href="#" class="icon"><%= image_tag("vimeo.png")%></a>
        </div>
  </div>
  <%= render 'home/aside' %>
</div>


</body>
</html>
